* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #cccc;
}

.card {
  background-color: #fff;
  width: 220px;
  height: 320px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaa;
  margin: 12px;
}


.card img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.card div {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}


.card h1 {
  font-size: 1.2rem;
}


.card h2 {
  font-size: .9rem;
  color: #aaaa;
}


.card button {
  background-color: #2192FF;
  height: 30px;
  border: none;
  padding: 4px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
}


.card button:hover {
  background-color: #137de8;
  cursor: pointer;
}


/* maior tela - 1200 até 1400px - botão laranja */


/* - netbooks - background card muda para #3a3a3a */


/* - tablets - background da pagina muda para #ffff */





