* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

.input-group-text {
    background-color: #FFFF;
    border: var(--bs-border-width) solid #3a3a3a;
    cursor: pointer;
}

.form-control {
    border: var(--bs-border-width) solid #3a3a3a;
    border-right-width: 0;
}

.form-control:focus {
    border-color: #3a3a3a;
    border-right-width: 0;
    box-shadow: 0 0 0 0;
}

.bg-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card {
    height: 500px;
}

.card-img-top {
    width: 100%;
    height: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 360px) {
    h1 {
        font-size: 2rem;
    }

    .page-link,
    .input-group-lg>.btn,
    .input-group-lg>.form-control,
    .input-group-lg>.form-select,
    .input-group-lg>.input-group-text {

        font-size: 0.875rem;

    }

    .text-copyright {
        font-size: 0.65rem;
    }
}

@media (min-width: 750px) {
    div.input-group {
        width: 70%;
    }

    h1 {
        font-size: 3.5rem;
    }
}